@import "tailwindcss";

@plugin "daisyui";

body {
  background-color: ghostwhite;
}

.btn-gradient {
  background: linear-gradient(to right, #632ee3, #9f62f2);
  transition: all 0.3s ease-out;
}
.btn-gradient:hover {
  transform: scale(1.2);
}
.hero-gradient {
  background: linear-gradient(to right, #632ee3, #9f62f2);
}
.hero-gradient2 {
  background: linear-gradient(to right, #54cf68, #00827a);
}
.open-green {
  color: #0b5e06;
}
.open-green-bg {
  background-color: #b9f8cf;
}
.open-dot-green {
  background-color: #02a53b;
}
.progress-bg {
  background-color: #f8f3b9;
}
.progress-font {
  color: #9c7700;
}
.progress-dot {
  background-color: #febb0c;
}
.red{
  color: #F83044;
}
